/*!CK:2069427548!*//*1382324062,173207577*/

.sp_f3qzxu{background-image:url(/rsrc.php/v2/yv/r/HszrzpOsGAg.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:28px;width:28px}
.sx_072159{background-position:0 0}
.sx_d3b93e{background-position:0 -29px}

#bootloader_SF_QD { height: 42px; }
.bootloader_SF_QD { display:block !important; }