/*!CK:1687967733!*//*1382324086,173207577*/

.fbChatSidebar .fbChatTypeahead, .fbChatSidebar .fbChatTypeahead .wrap{border:0}
.highContrast .fbChatSidebar .fbChatTypeahead{border:1px solid}
.fbChatSidebar .fbChatTypeahead .textInput{background-image:url(/rsrc.php/v2/yL/r/p6FV-SxbpZT.png);background-repeat:no-repeat;background-size:auto;background-position:left -261px;background-color:#f4f6f9;box-shadow:inset 2px 0 0 -1px #e0e2e9, inset 0 1px #fff;-moz-box-sizing:border-box;color:#555;height:24px;padding-left:20px;padding-right:25px}
.fbChatSidebar.fbSidebarFavoriteList .fbChatTypeahead .textInput{background-image:url(/rsrc.php/v2/yL/r/p6FV-SxbpZT.png);background-repeat:no-repeat;background-size:auto;background-position:left -293px;color:#9296a4}
.fbChatTypeahead .textInput::-ms-clear{height:0;width:0}
.fbChatSidebar .fbChatTypeahead .textInput:focus{background-color:#fff;color:#000}
._4kdq ._504q .fbChatSidebar ._504r{background-image:url(/rsrc.php/v2/yL/r/p6FV-SxbpZT.png);background-repeat:no-repeat;background-size:auto;background-position:-230px -286px;cursor:pointer;display:block;height:32px;width:54px}
._4kdq ._504q .fbChatSidebar ._504r:focus, ._4kdq ._504q .fbChatSidebar ._504r:hover{background-image:url(/rsrc.php/v2/yL/r/p6FV-SxbpZT.png);background-repeat:no-repeat;background-size:auto;background-position:-230px -253px;background-color:#1f2228;outline:none}
._4kdq ._504q .fbChatSidebar .fbChatTypeahead .textInput{display:none}

#bootloader_FMV0K { height: 42px; }
.bootloader_FMV0K { display:block !important; }