/*!CK:245431084!*//*1383045706,178179165*/

.appsFeedSubHeader{padding-left:23px}
div#contentCol.appFeedFilter div#rightCol{padding-top:0}
div#contentCol.appFeedFilter div#contentArea div#pagelet_home_stream{border-top:1px solid #ccc}
.contact_importer_widget table.uiInfoTable.noLabel th.label{display:none}
.contact_importer_widget.ci_inputless .as_invite_optout{margin-left:0}
.ci_design_full .contact_importer_widget.ci_inputless .login_form{margin-left:45px}

.fbCIProgressBar{background:#fff;border:1px solid;border-color:#d5d5d5;position:relative}
.fbCIProgressBar .fill{border:solid #3b5998;border-width:1px 0 1px 1px;background-color:#d8dfea;border-color:#8ea3c9;height:20px;margin:-1px;overflow:hidden}
.fbCIProgressBar .label{white-space:nowrap;line-height:20px;display:inline-block;padding-left:5px;color:#777;position:absolute;top:0}
.fbCIProgressBar .label .name{color:#3b5998;font-weight:bold}
.fbCIProgressBar .full{border-right:solid 1px #3b5998}
.fbCIProgressBar .empty{border-width:1px 0}
#ci_module_list{background-color:#fff}
#ci_module_list li.ci_module:hover{background-color:#edeff4;cursor:pointer}
#ci_module_list li.ci_module:hover a.expand_link{text-decoration:underline}
#ci_module_list li.ci_module.expanded{background-color:#edeff4;cursor:default}
#ci_module_list li.expanded .expand_link{display:none}
#ci_modules_hidden .ci_module:first-child{border-top-width:1px}
#wizard_step #ci_module_list, #wizard_step #ci_module_list li.ci_module.expanded, #wizard_step #ci_module_list li.ci_module.expanded:hover{background-color:#ededed}
#wizard_step #ci_module_list li.ci_module:hover{background-color:#fff}
#ci_module_list .ci_module{clear:both;padding-left:10px;padding-right:10px;border-color:#d8dfea}
#ci_module_list .ci_module .ci_module_header{direction:ltr;height:35px;line-height:35px;vertical-align:middle}
#ci_module_list .ci_module .expand_link{display:inline-block;margin-top:11px}
#ci_module_list .other_tools .ci_module_content{margin-left:42px;margin-right:42px}
#ci_module_list .other_tools .ci_module_content a{line-height:22px}
.ci_module_content .instructions{margin-left:46px}
#ci_module_list .ci_module .contact_importer_widget .label{text-align:right;width:130px}
#ci_compact_list .ci_compact_icon_holder{background-repeat:no-repeat;background-position:center;height:40px;padding:5px 0 0 5px;width:40px}
#ci_compact_list .ci_compact_icon_holder:hover{background-image:url(/rsrc.php/v2/y9/r/dyjIxuzzMJx.png);cursor:pointer}
#ci_compact_list .ci_compact_icon_holder.selected{background-image:url(/rsrc.php/v2/yH/r/CNhELnGRSSd.png)}
#ci_compact_list .ci_compact_icon{display:inline}
.ci_compact_module_header{border-top:solid 1px #d8dfea;margin-top:8px;padding:5px 0 2px 0}
#ci_compact_right{width:410px}
.ego_contact_importer .contact_importer_widget .ci_submit_container
.ci_submit_button{float:none}
.ego_contact_importer .contact_importer_widget .ci_submit_container
.ci_ego_link_button input{font-weight:bold}
.ego_contact_importer .ASInviteSubmit{margin-left:20px}
.ci_progress_bar_link:hover{text-decoration:none}
.contact_importer_widget .lhs_logo_class{float:left;margin:11px 11px 0 0}
.contact_importer_widget.ci_webmail .unsupported_email{width:275px}
.contact_importer_widget.ci_webmail .unsupported .unsupported_email{display:block}
.contact_importer_widget.ci_webmail .unsupported .disclaimer,
.contact_importer_widget.ci_webmail .unsupported_email,
.contact_importer_widget.ci_webmail .unsupported .ci_submit_container,
.contact_importer_widget.ci_webmail .api .disclaimer{display:none}
.contact_importer_widget.ci_webmail .waiting .ci_login{background:url(/rsrc.php/v2/yb/r/GsNJNwuI-UM.gif) right no-repeat;background-position:98% 50%;background-color:#fff}
.contact_importer_widget.ci_webmail .as_invite_optout{margin-left:60px}
.ego_contact_importer .contact_importer_widget.ci_webmail .valid .ci_login,
.ego_contact_importer .contact_importer_widget.ci_webmail .api .ci_login{padding-right:23px;width:206px;background:url(/rsrc.php/v2/y9/r/Ar6K0o_04bw.gif) right no-repeat;background-position:98% 50%;background-color:#fff}
.ego_contact_importer .contact_importer_widget.ci_webmail .unsupported .ci_login{background:url(/rsrc.php/v2/yA/r/NS2OPUfKoJa.gif) right no-repeat;background-position:98% 50%;background-color:#fff}
.ego_contact_importer .contact_importer_widget.ci_webmail .ci_password,
.ego_contact_importer .contact_importer_widget.ci_webmail .ci_login{width:226px;margin-bottom:5px}
.ego_friends_found_friends_fields .contact_importer_widget.ci_webmail .valid .ci_login,
.ego_friends_found_friends_fields .contact_importer_widget.ci_webmail .api .ci_login{width:180px}
.ego_friends_found_friends_fields .contact_importer_widget.ci_webmail .ci_password,
.ego_friends_found_friends_fields .contact_importer_widget.ci_webmail .ci_login{width:200px;margin-bottom:6px}
.friend_all_dialog .friend_all_step_1{display:block}
.friend_all_dialog .friend_all_step_2{display:none}
.friend_all_dialog .friend_button{padding:2px 15px}
._3ky{position:relative;text-align:center;z-index:1}
._3kz{vertical-align:bottom}
.hideBanner .fbPageBanner,
.fixedBody .fbPageBanner{display:none}
.fbPageBannerInner{margin:auto;width:980px}
.sidebarMode .fbPageBannerInner{left:-102px;position:relative}
#mobile_mirror_banner{position:relative;z-index:1000}
#mobile_mirror_banner #close-button{margin-left:5px;margin-right:5px;margin-top:10px}
._45kp{display:block}
._47ol{color:#4d66ae}
._47om{display:inline-block;vertical-align:bottom}
._4-k8{vertical-align:top}
._4-i9{width:215px}
._51l2 .nullableDisabledText, ._51l2 .uiClearableTypeahead{width:190px}
._4-ye{width:95%}
._4-yf{margin-top:10px}
._4-yg{margin-left:57px;width:402px}
._50pg{width:270px}
._5b2_{word-wrap:break-word}
div.photosClusters{width:602px}
.photosClusters .photoAndTypeahead{float:left;width:174px}
.photosClusters .faceCrop{background:#fff;border:1px solid #ccc;position:relative;padding:4px}
.photosClusters a.untag{position:absolute;right:10px;top:9px;z-index:1}
.photosClusters .clusterTypeahead{clear:both;width:220px}
.photosClusters .photoSingles .photoAndTypeahead{padding-bottom:20px}
.megaphone_location_FaceRecMegaphone{width:604px;margin-left:auto;margin-right:auto}
._iw1 .uiList{margin-top:5px}
._iw2{width:220px}
._iw3{background:#f2f2f2;border-bottom:1px solid #e2e2e2;border-top:1px solid #e2e2e2;padding:10px}
.eduWorkRow{position:relative}
.eduWorkYear{left:100%;position:absolute;top:0}
.eduWorkFields textarea,
.eduWorkFields .daterange{width:250px}
.eduWorkFields .daterange select{margin-top:4px}
.eduWorkFields .label{width:116px}
.eduWorkCollege .degree,
.noneSelected .eduWorkYear,
.noneSelected .eduWorkYears,
.noneSelected .eduWorkFields{display:none}
.fbProfileLargePortraitImgScaleHeight{height:75px;position:relative}
.fbProfileLargePortraitImgScaleWidth{position:relative;width:75px}
.fbProfileLargePortraitImgSmall{background-position:center 10%}
.fbProfileLargePortraitImgMedium{background-position:center 15%}
.fbProfileLargePortraitImgLarge{background-position:center 20%}
.fbProfileLargePortraitImgHuge{background-position:center 30%}
._kqv{margin:0 auto 40px;width:760px}
._kqq{border-top:1px solid #cbcbcb}
.fbSettingsEditor{position:relative}
.fbSettingsEditorLabel{left:0;position:absolute;width:155px}
.show_label .fbSettingsEditorFields{margin-left:180px}
.fbSettingsEditorFields .saveThrobber,
.fbNotifSettingsEditorFields .saveThrobber{vertical-align:middle}
.fbSettingsEditorFields{width:400px}
.fbSettingsEditorFields .label,
.fbNotifSettingsEditorFields .label{min-width:100px}
.wide_editor .fbSettingsEditorFields,
.wide_editor .fbNotifSettingsEditorFields{width:550px}
.fbSettingsEditorFields .extended_field,
.fbNotifSettingsEditorFields .extended_field{margin-right:-140px}
.fbSettingsEditorFields .spacer hr,
.fbNotifSettingsEditorFields .spacer hr{background-color:#ccc}
.fbSettingsError div{margin-left:159px}
.fbSettingsErrorLabel{color:#c66}
.fbNotifSettingsEditorLabel{left:0;position:absolute;width:165px}
.show_label .fbNotifSettingsEditorFields{margin-left:180px}
.fbNotifSettingsEditorFields{width:325px}
._6cw{border-bottom:1px solid #aaa}
._6cx{border-top:1px solid #aaa}
._x7m .megaphone_location_privacy{width:auto}
._x7m .megaphone_title{font-size:13px}
._x7m .megaphone_story .megaphone_content{color:gray}
._x7m .megaphone_action{margin-top:10px}
._1pif{border:1px solid #b4bbcd;position:relative}
._1pig{background-color:#fff;color:#777;font-size:13px;height:48px;padding:5px}
._1pih{background-color:#f2f2f2;border-top:1px solid #e6e6e6}
._1pii{border-right:1px solid #e0e0e0;display:block;float:left}
._1pij{position:relative;z-index:1}
._1pik{background:#f2f2f2;bottom:-1px;left:-1px;opacity:.6;position:absolute;right:-1px;top:-1px}
._cue{background-color:#f2f2f2;position:relative}
._cuf{font-weight:bold;left:0;position:absolute;width:165px}
._cug{padding-left:10px;width:440px}
._fuh ._cug{margin-left:175px;padding-left:5px;width:445px}
._cuh{display:block;padding:10px;position:absolute;right:0;top:0}
._cui{display:block}
._nll{float:left;width:275px}
._nlm{margin-left:295px}
.fbSettingsList a.fbSettingsListLink{background:transparent;display:block;text-decoration:none}
.fbSettingsList a.fbSettingsListLink:hover{background:#f7f7f7;text-decoration:none}
.fbSettingsList .fbSettingsListItemLabel{color:#333;float:left;font-size:11px;width:165px}
.fbSettingsList .fbSettingsListItemEdited{background-color:#fff8bb}
.fbSettingsList .fbSettingsListItemContent{display:block;padding-left:5px;width:440px}
.fbSettingsListItemLabeled .fbSettingsListItemContent{margin-left:175px;padding-left:0;width:445px}
.fbSettingsList .fbSettingsListItemSaved, .fbSettingsList .fbSettingsListItemEdit{color:#3b5998;float:right;padding-left:25px;padding-right:5px;text-align:right}
.fbSettingsList .fbSettingsListItemSaved{color:#777}
.fbSettingsList a:hover .fbSettingsListItemEdit{text-decoration:underline}
.fbSettingsList a:hover .fbSettingsListItemEdit .img{visibility:visible}
.fbSettingsList .fbSettingsListItemEdit .img, .fbSettingsList a.async_saving .fbSettingsListItemEdit .img{visibility:hidden}
.fbSettingsList a.async_saving .fbSettingsListItemEdit{background-image:url(/rsrc.php/v2/yb/r/GsNJNwuI-UM.gif);background-repeat:no-repeat;background-size:auto;background-position:0 2px}
.fbSettingsList .content{display:none}
.fbSettingsList .fbSettingsListItemDelete{float:right;margin:12px 8px 0}
.fbSettingsList .SbxIframe iframe{vertical-align:top}
.fbSettingsMobileRegisterForm{width:275px}
.fbSettingsNotifs span.fbSettingsListItemLabel{width:300px}
.fbNotifSettingsPanelList span.fbSettingsListItemLabel{width:240px}
.fbSettingsNotifCount{display:inline-block;margin-right:10px;width:35px}
.fbSettingsNotifEditor .fbSettingsEditorFields{width:100%}
.fbSettingsNotifTable{border-spacing:0;width:100%}
.fbSettingsNotifTable.notifsList{margin-bottom:10px}
.fbSettingsNotifTable th,
.fbSettingsNotifTable tbody td{border-bottom:1px solid #e0e0e0;padding:5px 0}
.fbSettingsNotifTable .hide_borders td{border:0;line-height:20px}
.fbSettingsNotifTable th{padding-top:8px}
.fbSettingsNotifTable th .uiTooltip{display:block}
.fbSettingsNotifTable .email,
.fbSettingsNotifTable .sms{text-align:center;width:40px}
.fbSettingsNotifTable .notif{text-align:left;width:150px}
.fbSettingsNotifTable .fixedLengthLabel{width:82%}
.fbSettingsNotifTable .right-align{text-align:right}
.fbSettingsNotifTitle{color:#333;margin-left:-22px}
#show_more_link_label{margin-left:32px}
._3d{width:125px}
._3e{width:118px}
._3f{width:80px}
._3h{width:90px}
._3g{width:70px}
._9d{width:80px}
._3i{color:red}
._9e{width:77px;text-align:right}
._9f{width:67px;text-align:right}
.fbSettingsSections{border-bottom:1px solid #aaa}
.fbSettingsSections .fbSettingsSectionsItem{padding-top:0}
.fbSettingsSections .fbSettingsSectionsItem.fbSettingsSectionsItemBorderTop{border-top:1px solid #aaa}
.fbSettingsSectionsItem .fbSettingsList{border-top:0;border-bottom:0}
.fbSettingsSectionsItemName{font-size:11px;margin-bottom:10px;margin-top:10px;width:160px}
.fbSettingsSectionsItemContent{width:589px}
.fbSettingsSections .subscriberCheckbox,
.fbSettingsSections .publicSearchCheckbox{width:445px}
.SettingsPage #headerArea{padding-bottom:0}
html .fbSettingsNavigation .divider{background:#ccc;border:none;display:list-item;height:1px;margin:10px 0}
.fbSettingsList .openPanel .fbSettingsListLink,
.fbSettingsList .openPanel .fbSettingsListItemDelete{display:none}
.fbSettingsList .openPanel .content{display:block}
.fbSettingsList{border-bottom:1px solid #aaa;border-top:1px solid #aaa}
.fbSettingsCheckboxText{vertical-align:middle}
#SettingsPage_Content .megaphone_box{border-top-width:1px;margin-right:-20px}
.code textarea{font:12px monospace;width:575px}
.sp_47su23{background-image:url(/rsrc.php/v2/yh/r/CEw5ALThw_L.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:35px;width:35px}
.sx_958ebd{background-position:-0px -0px}
.sx_520123{background-position:-0px -36px}
.sp_5j579w{background-image:url(/rsrc.php/v2/y1/r/cfUI6AYahjW.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_2eeabb{background-position:-16px 0}
.selected .sx_2eeabb{background-position:0 0}
.sx_aadfdc{background-position:-16px -17px}
.selected .sx_aadfdc{background-position:0 -17px}
.sx_85a658{width:18px;height:18px;background-position:0 -34px}
.sx_d4565c{background-position:0 -53px}
.sx_b5dcdd{width:14px;height:14px;background-position:-17px -53px}
.sx_09d22f{background-position:0 -70px}
.sx_adf81e{background-position:0 -87px}
.sp_6z4un6{background-image:url(/rsrc.php/v2/yh/r/CnmIrNuH-fv.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_5f9605{width:13px;height:13px;background-position:0 -81px}
.sx_050771{width:14px;height:12px;background-position:0 -68px}
.sx_36f1eb{background-position:0 0}
.sx_43b068{background-position:0 -17px}
.sx_b2f43a{width:10px;background-position:0 -34px}
.sx_dd7a95{width:9px;background-position:0 -51px}
.sp_a0fhwl{background-image:url(/rsrc.php/v2/y2/r/gt0UwT2urn0.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:35px;width:35px}
.sx_8b970d{background-position:0 0}
.sx_010a01{background-position:0 -36px}
._4-u5{background-color:#e9eaed}
._4-u7{background-color:#5890ff}
._57d8{background-color:#f6f7f8}
._4-u8{background-color:#fff}

#bootloader_phjKP { height: 42px; }
.bootloader_phjKP { display:block !important; }